#body{

    height: 100vh;

    margin: 0em;
    padding: 0em;

    display: flex;
    justify-content: center;
    align-items: center;
        
}

#consolaT{

    height: 25em;
    width: 35em;

    background-color: rgba(34, 211, 43, 0);

    margin: 0em;
    padding: 0em;

    display: flex;
    justify-content: center;
    align-items: center;  
        
} 

#pantallaIz{

    height: 25em;
    width: 7em;

    background-color: tomato;

    border-radius: 2em 0em 0em 0em;
    
}

.pantallaIzTop{

    height: 8.4em;
    width: 7em;

    background-color: rgb(46, 42, 42);
         
    border-radius: 2em 0em 0em 0em;

    display: flex;
    justify-content: center; 
    align-items: center;    
    
}

.izTopT{

    height: 1em;
    width: 1em;

    margin-bottom: 0em;
    padding: 0em;

    border-radius: 0.2em;

    background-color: rgb(93, 95, 95);  
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438), 1px 1px 1px rgba(0, 0, 0, 0.541);  
    
}

.pantallaIzMid{

    height: 8.4em;
    width: 7em;
    
    background-color: rgb(46, 42, 42);
    
}

.separacionMid{

    height: 4em;
    width: 7em;
    
    margin: 0em;
    
    background-color: rgb(46, 42, 42);
         
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.audioHolesIz{

    height: 0.3em;
    width: 0.3em;;
    
    margin: 0.5em;

    background-color: rgb(0, 0, 0);

    border-radius: 1em;

}

.audioHolesM{

    height: 0.3em;
    width: 0.3em;
    
    margin: 0.5em;

    background-color: rgb(0, 0, 0);

    border-radius: 1em;
}

.audioHolesDr{

    height: 0.3em;
    width: 0.3em;
    
    margin: 0.5em;

    background-color: rgb(0, 0, 0);

    border-radius: 1em;
}

.separacionMid2{

    height: 2em;
    width: 7em;

    background-color: rgb(46, 42, 42);
        
    display: flex;
    justify-content: center;
    align-items: center;
}

.audioHolesIz{

    height: 0.3em;
    width: 0.3em;;
    
    margin: 0.5em;

    background-color: rgb(0, 0, 0);

    border-radius: 1em;

}

.audioHolesM{

    height: 0.3em;
    width: 0.3em;
    
    margin: 0.5em;

    background-color: rgb(0, 0, 0);

    border-radius: 1em;
}

.audioHolesDr{

    height: 0.3em;
    width: 0.3em;
    
    margin: 0.5em;

    background-color: rgb(0, 0, 0);

    border-radius: 1em;
}

.pantallaIzLow{

    height: 8.2em;
    width: 7em;
    
    background-color: rgb(46, 42, 42);
        
    display: flex;
    justify-content: center; 
    align-items: center;
    
}

.izTopL{

    height: 1em;
    width: 1em;

    margin-bottom: 0em;
    padding: 0em;

    border-radius: 0.2em;

    background-color: rgb(93, 95, 95); 
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438), 1px 1px 1px rgba(0, 0, 0, 0.541);   

}

#pantallaMid{

    height: 25em;
    width: 20em;

    background-color: rgb(46, 42, 42);
}

.pantallaMidTop{

    height: 2em;
    width: 20em;

    background-color: rgb(46, 42, 42);

}

.pantallaMidCenter{

    height: 21em;
    width: 20em;
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(59, 53, 47) 0%, rgb(73, 63, 56) 20%, rgba(109, 102, 93, 0.944) 35%, rgba(167,166,153,1) 100%);
    box-shadow: inset 0px 0px 46px 14px rgba(20,20,20,1);

    border-radius: 0.3em;
}

.pantallaMidLow{

    height: 2em;
    width: 20em;
    
    background-color: rgb(46, 42, 42);

}

#pantallaDr{

    height: 25em;
    width: 8em;
    
    background-color: rgb(46, 42, 42);

    border-radius: 0em 2em 0em 0em;

}

.pantallaDrTop{

    height: 8.2em;
    width: 8em;

    background-color: rgb(46, 42, 42);

    border-radius: 0em 2em 0em 0em;

    display: flex;
    justify-content: center; 
    align-items: center;

}

.drTopT{

    height: 1em;
    width: 1em;

    margin-bottom: 0em;
    padding: 0em;

    border-radius: 0.2em;

    background-color: rgb(93, 95, 95);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438), 1px 1px 1px rgba(0, 0, 0, 0.541);

}


.pantallaDrMid{

    height: 8.2em;
    width: 8em;
    
    background-color: rgb(46, 42, 42);

}

.pantallaDrLow{

    height: 8.6em;
    width: 8em;
    
    background-color: rgb(46, 42, 42);

    display: flex;
    justify-content: center; 
    align-items: center;

}

.drLowL{

    height: 1em;
    width: 1em;

    margin-bottom: 0em;
    padding: 0em;

    border-radius: 0.2em;

    background-color: rgb(93, 95, 95);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438), 1px 1px 1px rgba(0, 0, 0, 0.541); 

}


#consolaM{

    height: 2.5em;
    width: 35em; 

    background-color: rgba(137, 43, 226, 0);

    display: flex;
    justify-content: center;
    align-items: center;
}
 .barraCentralIz{

    height: 2.5em;
    width: 8em;

    background-color: rgba(0, 0, 255, 0);

    display: flex;
    justify-content: center;
    align-items: center;

}

.centralIz1{

    height: 2.5em;
    width: 5.8em;

    background-color: rgb(46, 42, 42);

    border-radius: 1.5em 0em 0em 1.5em;

    box-shadow: -15px 0px 7px -10px rgba(0,0,0,0.75);

}

.centralIz2{

    height: 2.5em;
    width: 5.8em;

    background-color: rgb(46, 42, 42);

}

.barraCentralMd{

    height: 2.5em;
    width: 19em;

    background-color: rgb(46, 42, 42); 
    
    display: flex;
    justify-content: center;

}

.centralMdIz{

    height: 2.5em;
    width: 7em;

    background-color: rgb(46, 42, 42);

    
}

.centralMd{

    height: 2.5em;
    width: 5em;

    background-color: rgb(228, 21, 21);

    display: flex;
    justify-content: center;
    

}

.audioHole{

    height: 2.5em;
    width: 2.2em;

    background-color: rgb(46, 42, 42);

    display: flex;
    justify-content: center;
    align-items: center; 

}
.hole{

    height: 2em;
    width: 0.6em;

    padding: 0em;
    margin: 0em;

    background-color: rgb(0, 0, 0); 

    border-radius: 0.35em;

}

.micIMG{

    height: 2.5em;
    width: 2.8em;


    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 42, 42); 
    

}

.centralMdDr{

    height: 2.5em;
    width: 7em;

    background-color: rgb(46, 42, 42);
}

.barraCentralDr{

    height: 2.5em;
    width: 8em;

    background-color: rgba(253, 0, 0, 0);  

    display: flex;
    justify-content: center;
    align-items: center;    

}

.centralDr1{

    height: 2.5em;
    width: 5.8em;

    background-color: rgb(46, 42, 42);
    
    display: flex;
    justify-content: flex-end;
   
}

.dr1Iz{

    height: 2.5em;
    width: 0.8em;

    padding: 0em;
    margin: 0em;

    background-color: rgba(128, 128, 128, 0.834);

    border-radius: 0.4em;

}

.centralDr2{

    height: 2.5em;
    width: 5.8em;

    background-color: rgb(46, 42, 42);

    border-radius: 0em 1.5em 1.5em 0em;
    box-shadow: 15px 0px 7px -10px rgba(0,0,0,0.75);

}

.dr2Dr{

    height: 2.5em;
    width: 0.8em;

    padding: 0em;
    margin-left: 0.1em;

    background-color: rgb(151, 207, 20);

    border-radius: 0.4em;

}

#consolaL{

    height: 20em;
    width: 35em; 

    background-color: rgba(102, 57, 145, 0);

    display: flex;
    
}

.consolaLIz{

    height: 20em;
    width: 9em; 

    background-color: rgba(0, 0, 0, 0);

}

.lIzTop{

    height: 4em;
    width: 9em; 

    background-color: rgb(46, 42, 42);

}

.lIzMid{

    height: 6em;
    width: 9em; 

    background-color: rgb(46, 42, 42);

    display: flex;
    justify-content: center;
    flex-direction: column; 
     

}

.parte1{

    height: 2em;
    width: 9em; 
        
    background-color: rgb(46, 42, 42);

    display: flex;
    justify-content: center;
    flex-direction: row;    
}

.cuadrat1{

    height: 2em;
    width: 3em; 
        
    background-color: rgb(46, 42, 42);    
   
}

.cuadrat2{

    height: 2em;
    width: 3em; 
        
    background-color: rgb(0, 0, 0);    
   
}

.cuadrat3{

    height: 2em;
    width: 3em; 
        
    background-color: rgb(46, 42, 42);    
   
}

.parte2{

    height: 2em;
    width: 9em; 
        
    background-color:rgb(46, 42, 42);
    
    display: flex;
    justify-content: center;
    flex-direction: row;    
}

.cuadrat4{

    height: 2em;
    width: 2.2em; 
        
    background-color: rgb(0, 0, 0);    
   
}

.cuadrat5{

    height: 2em;
    width: 3em; 
        
    background-color: rgb(0, 0, 0);    
   
}

.cuadrat6{

    height: 2em;
    width: 2.2em; 
        
    background-color: rgb(0, 0, 0);    
   
}

.parte3{

    height: 2em;
    width: 9em; 
        
    background-color:rgb(46, 42, 42);

    display: flex;
    justify-content: center;
    flex-direction: row;    
}

.cuadrat7{

    height: 2em;
    width: 3em; 
        
    background-color:rgb(46, 42, 42);    
   
}

.cuadrat8{

    height: 2em;
    width: 3em; 
        
    background-color: rgb(0, 0, 0);
       
}

.cuadrat9{

    height: 2em;
    width: 3em; 
    
        
    background-color: rgb(46, 42, 42);    
   
}

.lIzLow{

    height: 10em;
    width: 9em; 

    background-color: rgb(46, 42, 42);

    border-radius: 0em 0em 0em 2em;

}

.consolaLMid{

    height: 20em;
    width: 17em; 

    background-color: rgb(46, 42, 42);

}

.lMidTop{

    height: 1em;
    width: 17em; 

    background-color: rgb(46, 42, 42);

}

.lMidCenter{

    height: 16em;
    width: 17em; 

    background-color: rgb(150, 148, 148);
    box-shadow: inset 0px 0px 11px 5px rgba(0,0,0,0.73);
    
}

.lMidLow{

    height: 3em;
    width: 17em; 

    background-color: rgb(46, 42, 42);

}

.consolaLDr{

    height: 20em;
    width: 9em; 

    background-color: rgba(88, 78, 78, 0);
}

.lDrtop{

    height: 5em;
    width: 9em;
    
    background-color: rgb(46, 42, 42);

    display: flex;
    justify-content: center;
}

.botonX{

    height: 2em;
    width: 2em; 

    margin-top: 3em;
    color: wheat;
    background-color: rgb(6, 6, 6);

    border-radius: 2em;
}

.lDrMid{
    height: 4em;
    width: 9em; 

    background-color: rgb(46, 42, 42);

    display: flex;
    justify-content: space-around;
    

}
.botonY{

    height: 2em;
    width: 2em; 

    margin-top: 0.8em;

    color: wheat;
    background-color: rgb(6, 6, 6);

    border-radius: 2em;
}

.botonA{

    height: 2em;
    width: 2em;

    margin-top: 0.8em;

    color: wheat;

    background-color: rgb(6, 6, 6);

    border-radius: 2em;
}

.lDrLow1{

    height: 4em;
    width: 9em; 

    background-color: rgb(46, 42, 42);

    display: flex;
    justify-content:center;
}

.botonB{

    height: 2em;
    width: 2em;

    color: wheat;
    margin-top: -0.5em;
    background-color: rgb(6, 6, 6);

    border-radius: 2em;
    

}

.lDrLow2{

    height: 7em;
    width: 9em; 

    background-color: rgb(46, 42, 42);

    display: flex;
    flex-direction: row;
    
    
    
    border-radius: 0em 0em 2em 0em;
    
    /* box-shadow: 12px 20px 18px -8px rgba(0,0,0,0.75); */
        
}

.botonStart{

    height: 1em;
    width: 1em;
    
    margin-left: 0.5em;
    text-align: left;

    
    color: wheat;
    background-color: rgb(3, 3, 3); 

    border-radius: 1em;
}

.start{

    color: wheat;
}

.botonSelect{

    height: 1em;
    width: 1em;
    
    margin-top: 0.5em;
    margin-left: 0.5em;
    

    color: wheat;
    background-color: rgb(3, 3, 3); 

    border-radius: 1em;
}

.select{


    color: wheat;
}